<!DOCTYPE html>
<html lang="[[index.locale]]">
<head>{{> meta }}</head>
<body>
{{> navigation}}

{{> card-form }}

{{> footer }}

{{> scripts }}
<script>
    if(!getCookie("token")){
        window.location.href = "/";
    }
</script>
</body>
</html>