<!DOCTYPE html>
<html lang="[[index.locale]]">
<head>{{> meta }}</head>
<body>
{{> navigation}}

{{> background }}

{{> modals }}

{{> teaser }}

{{> main }}

{{> footer }}

<div class="md-overlay"></div>

{{> scripts }}
</body>
</html>