$fontServer: "http://dev-digital-festival.contexta04.nine.ch";
$fontServer: "";
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Roboto');

body {
  font-family: Arial, sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 1.5pt !important;
  overflow-x: hidden;
  background-color: #f8f8f8;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  > .ui.grid {
    margin: 0;
  }
}

a {
  color: inherit;
}

h1 {
  font-family: 'Frank Ruhl Libre', Georgia, Times;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: .9em;
  letter-spacing: .01em;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 18px !important;
}

p {
  font-size: .75em;
  font-family: 'Roboto', Arial, sans-serif;
  letter-spacing: .03em;
  line-height: 1.5em;
  font-weight: normal;
}

input {
  width: 100%;
  border-style: solid;
  margin-bottom: .5rem;
}

.range-slider{
  display: block;
  float:left;
  margin-top: 0px;
  height: 5px;
  width: 100%;
  background-color: #03B046;
}



.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}

.md-show {
  visibility: visible;
  opacity: 1;
}

.hide {
  display: none!important;
  visibility: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #888;
  border-bottom: 0px;
  outline: none;
  margin: 5px 0;
}

@import "_vars.scss";

/* Mobile only, hide others*/
@media only screen and (max-width: $mobile) {

  [class*="tablet only"]:not(.mobile) {
    display: none !important;
  }

  [class*="computer only"]:not(.mobile) {
    display: none !important;
  }
}

/* Tablet only, hide others*/
@media only screen and (min-width: $mobile) and (max-width: $tablet) {
  [class*="mobile only"]:not(.tablet) {
    display: none !important;
  }

  [class*="computer only"]:not(.tablet) {
    display: none !important;
  }
}

/* Computer only, hide others*/
@media only screen and (min-width: $tablet) {
  [class*="mobile only"]:not(.computer) {
    display: none !important;
  }

  .ui[class*="tablet only"]:not(.computer) {
    display: none !important;
  }
}

/* Computer only, hide others*/
@media only print {
  [class*="mobile only"]:not(.computer) {
    display: none !important;
  }

  [class*="tablet only"]:not(.computer) {
    display: none !important;
  }

  [class*="dont print"] {
    display: none !important;
  }

}


.range-wrapper{
  margin: 20px;
}

.rangeslider,
.rangeslider__fill {
  display: block;

}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 5px;
  float: right;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #03B046;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin-top: -2px;
  width: 30px;
  height: 30px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {

}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  box-shadow: none;
}

