<div class="form container" id="form" xmlns="http://www.w3.org/1999/html">
    <h1>Neue Card hinzufügen</h1>
    <p class="message success hide">Die Karte wurde erfolgreich hinzugefügt!</p>
    <p class="message fail hide"></p>
    <form class="add-card-form" id="add-card" onsubmit="javascript:return false">

        <label for="name" class="description">Titel:</label>
        <input type="text" name="name" class="required" placeholder="">
        <label for="desc" class="description">Text:</label>
        <textarea name="desc" class="required" placeholder="" cols="60" rows="10"></textarea>
        <table>
            <tr>
                <td>
                    <label for="image" class="description">Bild (URL):</label>
                    <input type="text" class=" required" placeholder="" name="image" id="image">
                </td>
                <td>
                    <label for="url" class="description">URL:</label>
                    <input type="text" class=" required" placeholder="" name="url" id="url">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label for="price" class="description">Gesamtbetrag:</label>
                    <input type="number" class=" required" name="price" id="price" placeholder=""/>
                </td>
                <td>
                    <label for="anteile" class="description">Anzahl Anteile:</label>
                    <input type="number" class="" name="anteile" id="anteile" placeholder=""/>
                </td>
            </tr>
        </table>
        <br><br>
        <section class="checkbox-section types">
            <input type="checkbox" name="partial" id="partial" value="1"><label for="partial">Teilbezahlung</label><br>
            <input type="checkbox" name="type" id="type" value="1"><label for="type">Geldüberweisung</label><br>
            <input type="hidden" name="active" id="active" value="1">
        </section>
        <br>
        <br>

        <button type="submit" class="submit">Speichern</button>
    </form>

</div>