@import "../_vars.scss";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.form{
  margin-top: 100px;

  .cookie{
    margin-bottom: 0;
  }

  .cookie a{
    color: #b3963f;
  }

  h1{
    margin-bottom: 20px;
    width: auto;
  }

  p{
    margin: 30px 0;
    line-height: 1.8em;
  }

  div.product-image-container{
    width: 100%;
    height: auto;
    max-height: 350px;
    overflow: hidden;
    border-radius: 5px;

    img{
      width:100%;
    }
  }

  .message{
    width: 100%;
    padding: 20px 12px;
    border-radius: 3px;
  }

  .message:before{
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin: 0 .6em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
  }


  #product-link:before{
    content: "\f08e";
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin: 0 .6em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
  }

  .message.fail{
    background-color: #FFBABA;
    color: #D8000C;
  }

  .message.fail:before{
    content:'\f057';
  }

  .message.success{
    background-color: #DFF2BF;
    color: #4F8A10;
  }

  .message.success:before{
    content:'\f00c';
  }

  label.description{
    display: block;
    margin-top: 30px;
  }

  label.error{
    display: block;
    width: 100%;
    font-size: .7em;
    font-weight: normal;
    letter-spacing: 0;
    color: $red;
  }

  #agb-error{
    float:right;
    margin: 0;
  }

  #agb-error{
    margin-bottom: 30px;
  }

  #rezept-error{
    margin: 30px 0 5px;
  }

  #platform_rezeptaktion-error, #platform_anderes-error{
    margin-bottom: 20px;
  }

  label{
    color: black;
  }

  input[type='text'],input[type='email'],input[type='tel'],input[type='number']{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border: 0px;
    background-color: #eeeeee;
  }

  input[type='text'].error,input[type='email'].error,input[type='tel'].error,input[type='number'].error{
    border-left: 5px solid $red!important;
  }

  input[type='text'].valid,input[type='email'].valid,input[type='tel'].valid,input[type='number'].valid{
    border-left: 5px solid #3CBC3C!important;
  }

  input#anteile{
    width: 80px;
    text-align: center;
  }

  .moretext{
    display: none;
  }

  input:focus{
    outline: none;
    //border: 1px solid $red;
  }

  table{
    width: 100%;

    td:first-child{
      width: 48%;
      padding-right: 2%;
    }
    td:last-child{
      width: 48%;
      padding-left: 2%;
    }

    td{
      vertical-align: top;
    }
  }

  button[type='submit']:focus{
    outline: none;
    border: 0px;
  }

  input[name='ort']{
    width: 100%;
  }

  input[name='zip']{
    width: 96%;
    margin-right: 4%;
  }

  .submit{
    position: relative;
    padding: 15px 20px;
    font-size: .75em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color: #CCBE96;
    color: white;
    transition: all .3s ease;
    outline: none;
    border: 0;
    border-radius: 3px;
    width: auto;
  }


  .submit:hover{
    background: #AB997E;
  }

  .radio-section{
    margin: 20px 0;
  }

  .radio-section input{
    width: auto;
    margin: 0px 10px 10px 0;
  }

  .checkbox-section{
    display: block;
  }

  .checkbox-section input[type='checkbox']{
    width: auto;
    margin: 10px 15px 10px 0;
    float: left;
  }

  .checkbox-section label {
    display: block;
    padding-top:8px;
  }

  .radio-section input[type='text']{
    width: 100%;
  }

  .radio-section label{
    margin-right: 20px;
  }

  .agbs{
    transition: all .2s ease;
    display: none;
    background-color: rgba(0,0,0,.4);
    color: #ddd;
    padding: 20px 0px 40px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    -moz-box-shadow:    inset 0 0 100px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 100px #000000;

    h4{
      font-size: 1.4em!important;
      letter-spacing: 0.01em;
    }
    h5{
      font-size: 18px!important;
      letter-spacing: 0px;
      margin-bottom: 0px;
    }

    p{
      line-height: 1.4em;
      max-width: 1000px;
      margin: 0 auto;
    }

    h4, p, h5{
      padding: 0 100px;
    }

    /*&.showagb{
      display: block;
      opacity: 1;
    }*/
    
    .agb_close{
      display: block;
      position: absolute;
      right: 0;
      width: 30px;
      height: 30px;
      margin-top: 20px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  input[type='text'], input[type='number'], input[type='email']{
    border-left: 5px solid #ccc;
    border-radius: 3px;
  }

  .radio-section.required input[type='radio'] + label{

  }

  input[type='checkbox'].required + label, input[type='radio'].required + label{

  }

}

@media only screen and (max-width: $mobile) {


  input{
    border-radius: 0px;
  }

  input[type='radio']{
    display: none;
  }

  input[type="radio"] + label{
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid $red;
    border-left: 1px solid $red;
    border-right: 1px solid $red;
  }

  .radio-section{
    border-top: 1px solid $red;
  }

  input[type="radio"] + label + br{
    display: none;
  }

  input[type='radio']#anrede_f +label, input[type='radio']#anrede_m +label{
    width: 50%;
    margin-right: 0px;
    float: left;
    margin-bottom: 20px;
    padding: 12px 20px;
  }

  input[type='radio']#anrede_f +label{
  border-right: 0px;
  }


  input[type="radio"]:checked + label{
    background-image: url(http://appenzeller.ch/themes/appenzeller/images/bg_button_medium.png);
  }

  input[type='text'],input[type='email'],input[type='tel'],input[type='number']{
    padding: 10px 15px!important;
  }

  .checkbox-section input[type='checkbox']{
    margin-bottom: 60px!important;
  }

  .agbs{
    h4, p, h5{
      padding: 0 30px!important;
    }

  }
}