<div class="form container" id="form">
    <form class="sofortgewinn-form" id="sofortgewinn" onsubmit="javascript:return false">
        <br><br>
        <label>[[form.formTeaser]]</label>
        <section class="radio-section anrede">
            <input type="radio" name="anrede" value="female" id="anrede_f" class="radio required"/>
            <label for="anrede_f" class="radio">[[modals.frau]]</label>
            <input type="radio" id="anrede_m" name="anrede" value="male" class="radio required"/>
            <label for="anrede_m" class="radio">[[modals.herr]]</label>
        </section>
        <label for="vorname" class="description">[[modals.vorname]]:</label>
        <input type="text" name="vorname" class="required" placeholder="[[modals.placeholder]]">
        <label for="nachname" class="description">[[modals.nachname]]:</label>
        <input type="text" name="nachname" class="required" placeholder="[[modals.placeholder]]"/>
        <label for="zip" class="description">[[modals.zip]]/[[modals.ort]]:</label>
        <table>
            <tr>
                <td class="zip"><input type="number" class="required" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength = "5" minlength="5" name="zip" placeholder="[[modals.zip]]" /></td>
                <td class="ort"><input type="text" class="required" name="ort" placeholder="[[modals.placeholder]]"/></td>
            </tr>
        </table>
        <label for="street" class="description">Strasse:</label>
        <input type="text" class=" required" placeholder="[[modals.placeholder]]" name="street" id="street">
        <label for="country" class="description">Land:</label>
        <input type="text" class=" required" placeholder="[[modals.placeholder]]" name="country" id="country">
        <label for="email" class="description">[[modals.email]]:</label>
        <input type="email" class=" required" name="email" id="email" placeholder="[[modals.placeholder]]"/>
        <br><br>
        <label for="platform" class="required_platform">Wie wurden Sie auf den Wettbewerb aufmerksam?</label>
        <section class="radio-section platform">
            <input type="radio" name="platform" id="rezeptaktion" value="Rezeptaktion:"><label for="rezeptaktion">Rezeptaktion an der Käsetheke</label><br>
            <input type="text" name="platform_rezeptaktion" class="moretext rezeptaktion" placeholder="Bitte Marktname und Ort eintragen"><br class="moretext">
            <input type="radio" name="platform" id="gewinnspiel" value="Gewinnspiel-Portal"><label for="gewinnspiel">Gewinnspiel-Portal</label><br>
            <input type="radio" name="platform" id="website" value="Website Schweizer Käse"><label for="website">Website Schweizer Käse</label><br>
            <input type="radio" name="platform" id="newsletter" value="Newsletter"><label for="newsletter">Newsletter</label><br>
            <input type="radio" name="platform" id="freunde" value="Freunde"><label for="freunde">Freunde</label><br>
            <input type="radio" name="platform" id="anderes" value="Anderes:"><label for="anderes">Anderes</label><br>
            <input type="text" name="platform_anderes" class="moretext anderes">
        </section>
        <section class="agbs">
            <div class="agb_close"><a href="javascript:hideAGB()"><img src="img/modal/close.png"></a></div>
            <h4>Teilnahmebedingungen</h4>
            <p>Teilnahmeberechtigt sind in Deutschland, Österreich und in der Schweiz wohnhafte Personen. Von der Teilnahme ausgeschlossen sind Mitarbeitende der SO Appenzeller<sup>&reg;</sup> Käse GmbH und deren Angehörige sowie Mitarbeitende der beteiligten Agenturen und deren Angehörige.
                Es besteht kein Kaufzwang. Gewinnberechtigt sind nur Teilnehmende, welche die erforderlichen Angaben vollständig und korrekt über das Online-Formular mitgeteilt haben.
                SO Appenzeller<sup>&reg;</sup> Käse GmbH ist berechtigt, Personen, welche falsche oder unvollständige Angaben gemacht haben, von der Teilnahme auszuschließen.
                Über den Wettbewerb wird keine Korrespondenz geführt. Der Rechtsweg sowie die Barauszahlung der Preise sind ausgeschlossen. Teilnahmeschluss ist der 31. Januar 2017. Die Gewinner werden unter allen Einsendungen durch Los ermittelt. Gewährleistungs- und Garantieansprüche bezüglich der Preise werden ausgeschlossen und sind gegebenenfalls gegenüber den Herstellern geltend zu machen.
            </p>
            <h5>Datensicherheit im Internet</h5>
            <p>
                Bitte beachten Sie, dass es sich beim World Wide Web um ein öffentlich zugängliches System handelt. Persönliche Informationen werden online freiwillig und auf eigenes Risiko erteilt. SO Appenzeller<sup>&reg;</sup> Käse GmbH lehnt jegliche Haftung für den Verlust Ihrer Daten oder für Missbrauch durch unbefugte Dritte ab.
            </p>
            <h5>Datenschutz</h5>
            <p>
                Der Datenschutz hat bei der SO Appenzeller<sup>&reg;</sup> Käse GmbH einen hohen Stellenwert und Personendaten werden streng vertraulich behandelt. Erhalten wir von Ihnen Daten via Internet, werden diese nicht an Dritte weitergegeben und nur für die gewünschten Zwecke genutzt.
            </p>
            <h5>Marken</h5>
            <p>
                Appenzeller Switzerland und das Bären-Logo sind geschützte Marken der SO Appenzeller<sup>&reg;</sup> Käse GmbH.
            </p>
        </section>
        <section class="checkbox-section">
            <input type="checkbox" name="agb" id="agb" class="required"><label for="agb" class="description">[[form.agb]]</label>
            <br><input type="checkbox" name="newsletter_abo" id="newsletter_abo" value="1"><label for="newsletter_abo">[[form.newsletter]]</label>
        </section>
        <input type="hidden" name="language" value="[[index.locale]]">
        <input type="hidden" name="rezept" id="rezept">
        <br>
        <br>

        <button type="submit" class="submit sendForm" value=""><span class="button_handler"><!-- --></span>[[form.submit]]</button>
    </form>

</div>