<section class="grid-container">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <div class="teaser-image" data-index="1" id="1">
                    <img src="./img/modal/Rezept_FlammkuchenRaeucherforelle.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Flammkuchen mit Räucherforelle</span>
            </div>
            <div class="four columns">
                <div class="teaser-image" data-index="2" id="2">
                    <img src="./img/modal/Rezept_Sennenroesti.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Sennenrösti</span>
            </div>
            <div class="four columns">
                <div class="teaser-image" data-index="3" id="3">
                    <img src="./img/modal/Rezept_SpinatKaesesuppe.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Spinat-Käsesuppe</span>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="teaser-image" data-index="4" id="4">
                    <img src="./img/modal/Rezept_MarinierterAppSalat.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Appenzeller<sup>&reg;</sup> Käse mit Salat</span>
            </div>
            <div class="four columns">
                <div class="teaser-image" data-index="5" id="5">
                    <img src="./img/modal/Rezept_Chaesefladen.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Käsefladen</span>
            </div>
            <div class="four columns">
                <div class="teaser-image" data-index="6" id="6">
                    <img src="./img/modal/Rezept_Gemueseauflauf.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Gemüseauflauf</span>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="teaser-image" data-index="7" id="7">
                    <img src="./img/modal/Rezept_Kalbsschnitzel.jpg">
                    <span class="hover-state">Mein<br>Lieblingsrezept</span>
                    <span class="likes">0</span>
                </div>
                <span>Gefüllte Kalbsschnitzel nach Appenzeller Art</span>
            </div>
        </div>
        <div class="sticky-button sticky-goto-bottom-button">
            <a class="submit" href="javascript:goToForm()"><span class="button_handler"></span>Zum Wettbewerbsformular
            </a>
        </div>
    </div>




    {{> form }}


</section>