<section class="grid-container-1">

    <div class="container-flex">
        <div class="gift edit">
            <div class="teaser-image" style="background-image: url(http://image.shutterstock.com/z/stock-vector-architectural-background-part-of-architectural-project-architectural-plan-technical-project-104780273.jpg)"></div>
            <h1>Neue Card hinzufügen</h1>
            <a href="" class="gift-button">Hinzufügen</a>
        </div>
    </div>

</section>