<div class="md-modal modal-1" id="modal-1">
    <div class="md-close"></div>
    <div class="md-content nobutton">
        <h3>[[modals.Headline1]]</h3>
        <div>
            <p>[[modals.Text1]]</p>
        </div>
    </div>
</div>