<section id="teaser" class="teaser">
    <div class="header-image full-width">

    </div>

    <div class="teasers notdone">
        <h1 class="TeaserTitle">[[teaser.TeaserTitle]]</h1>
        <p class="TeaserText code">[[teaser.TeaserText]]</p>
    </div>
    <div class="teasers done">
        <h1 class="TeaserTitle">[[teaser.TeaserTitleSent]]</h1>
        <p class="TeaserText code">[[teaser.TeaserTextSent]]</p>
        <a class="submit" href="http://appenzeller.ch/de/rezepte/uebersicht/"><span class="button_handler"></span>[[teaser.TeaserButtonSent]]</a>
    </div>

</section>