<section id="teaser" class="teaser">
    <div class="header-image full-width">

    </div>

    <div class="teasers">
        <h1 class="TeaserTitle">[[teaser.TeaserTitle]]</h1>
        <p class="TeaserText code">[[teaser.TeaserText]]</p>
    </div>

</section>