<section id="background" class="fd-background full-viewport cover-background">
    <div class="fondue-asset fondue-asset-1"><img src="img/background/oben_links.png"></div>
    <div class="fondue-asset fondue-asset-2"><img src="img/background/unten_links.png"></div>
    <div class="fondue-asset fondue-asset-3"><img src="img/background/oben_rechts.png"></div>
    <div class="fondue-asset fondue-asset-4"><img src="img/background/unten_rechts.png"></div>
    <div class="fondue-asset fondue-asset-5"><img src="img/background/caquelon_unten_mitte.png"></div>
</section>
