<section id="footer" class="footer">
    <div class="swiss-cross">
        <span class="cross sprite"></span>
        <span>Unser Schweizer Käse.</span>
        <span class="label-www">www.schweizerkaese.ch</span>
    </div>
    <div class="logo-right">
        <span>Schweiz. Natürlich.</span>
        <div class="logo sprite"></div>
    </div>

</section>