<section id="footer" class="footer">
    <div class="swiss-cross">
        <span class="cross sprite"></span>
        <span>Käse aus der Schweiz.</span>
        <span class="label-www">www.schweizerkaese.de</span>
    </div>
    <div class="logo-right">
        <span>Schweiz. Natürlich.</span>
        <div class="logo sprite"></div>
    </div>

</section>