<section id="footer" class="footer">
    <div class="social-icons">
        <div class="icons-holder">
            <a target="_blank" href="[[footer.Link]]" class="social-icon share"> </a>
            <a target="_blank" href="[[footer.whatsapp]]" class="social-icon whatsapp"> </a>
            <a target="_blank" href="[[footer.gPlusLink]]" class="social-icon gplus"> </a>
            <a target="_blank" href="[[footer.twitterLink]]" class="social-icon twitter"> </a>
            <a target="_blank" href="[[footer.facebookLink]]" class="social-icon facebook"> </a>
        </div>
    </div>
</section>