<meta charset="utf-8">
<!--<link rel="icon" href="/favicon.ico">-->

<title>Dreh am Glückscaquelon.</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, width=device-width">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="msapplication-tap-highlight" content="no">

<!--<meta property="twitter:title" content="Valisanne">-->
<!--<meta property="og:title" content="Valisanne">-->
<!--<meta name="image" content="/img/socialShare.png">-->
<!--<meta property="og:image" content="/img/socialShare.png">-->
<!--<meta property="twitter:image" content="/img/socialShare.png">-->
<!--<meta property="og:type" content="website">-->
<!--<meta property="twitter:card" content="summary_large_image">-->
<!--<meta property="twitter:site" content="@DIFE16">-->
<!--<meta property="fb:admins" content="100002266921873">-->

<link rel="autor" href="humans.txt">

{{! linking resources here }}
<!-- include:css(css/libs/**/*.css) -->
<!-- include:css(css/*.css) -->

