<meta charset="utf-8">
<link rel="icon" href="favicon.ico">

<title>Hochzeit von Beni & Eliane</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, width=device-width">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="msapplication-tap-highlight" content="no">

<link rel="autor" href="humans.txt">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{{! linking resources here }}
<!-- include:css(css/libs/**/*.css) -->
<!-- include:css(css/*.css) -->
