<meta charset="utf-8">

<title>Zeigen Sie uns Ihr Lieblingsrezept und gewinnen Sie!</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, width=device-width">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="msapplication-tap-highlight" content="no">


<link rel="autor" href="humans.txt">

{{! linking resources here }}
<!-- include:css(css/libs/**/*.css) -->
<!-- include:css(css/*.css) -->

