<nav class="app-nav">
    <div class="app-nav-wrapper">
        <div class="home-mobile">
            <a href="http://www.appenzeller.ch/de"><img src="./img/modal/home.png" height="100%"></a>
        </div>
        <div class="app-logo">
            <a href="http://appenzeller.ch/de" class="sprite"></a>
        </div>
        <div class="nav-bar">
            <ul id="nav_main">
                <li>[[teaser.Sortiment]]</li>
                <li>[[teaser.Handwerk]]</li>
                <li>[[teaser.Appenzellerland]]</li>
                <li>[[teaser.Nachhaltigkeit]]</li>
                <li>[[teaser.Rezepte]]</li>
                <li>[[teaser.Markenwelt]]</li>
                <li class="last">[[teaser.Shop]]</li>
            </ul>
        </div>
        <div class="social-bar">
            <div id="social_media">
                <div id="social_media_inner">
                    <div class="sm_link">
                        <a href="https://www.facebook.com/appenzellerkaese" target="_blank" id="l_facebook" class="sprite"><!-- --></a>
                    </div>
                    <div class="sm_link middle">
                        <a href="https://twitter.com/appenzellerkase" target="_blank" id="l_twitter" class="sprite"><!-- --></a>
                    </div>
                    <div class="sm_link">
                        <a href="http://www.youtube.com/user/appenzellerkase" target="_blank" id="l_youtube" class="sprite"><!-- --></a>
                    </div>
                    <div class="sm_link">
                        <a href="https://instagram.com/appenzeller_kaese/" target="_blank" id="l_instagram" class="sprite"><!-- --></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="lang" class="">
            <a href="[[teaser.KontaktLink]]" title="Kontakt" class="kontakt">[[teaser.Kontakt]]</a>
            <ul>
                <li id="current_local">
                    <a><span id="lang_handle" class="sprite"></span>[[teaser.languageActive]]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>