<div class="social-icons">
    <div class="icons-holder">
        <a target="_blank"
           href="mailto:?&amp;subject=Zeigen Sie uns Ihr Lieblingsrezept &amp;body=Klicken Sie auf Ihr Lieblingsrezept aus unserer Rezeptbroschüre. Unter allen Teilnehmenden verlosen wir 1.000 Euro.%0A%20http%3A//www.appenzeller.ch/lieblingsrezept"
           class="social-icon share"></a>
        <a target="_blank"
           href="WhatsApp://send?text=Dreh%20jetzt%20auch%20am%20Appenzeller%C2%AE%20Gl%C3%BCckscaquelon%20und%20gewinne%20Winterferien%20im%20Appenzellerland%20oder%20tolle%20Sofortpreise.%0A%20http%3A//www.appenzeller.ch/lieblingsrezept"
           class="social-icon whatsapp"></a>
        <a target="_blank"
           href="https://plus.google.com/share?url=appenzeller.ch/lieblingsrezept" class="social-icon gplus"></a>
        <a target="_blank"
           href="https://twitter.com/home?status=Zeigen Sie uns Ihr Lieblingsrezept. Unter allen Teilnehmenden verlosen wir 1.000 Euro.%20%20appenzeller.ch/lieblingsrezept"
           class="social-icon twitter"></a>
        <a target="_blank"
           href="https://www.facebook.com/dialog/feed?app_id=184683071273&amp;link=http%3A%2F%2Fwww.appenzeller.ch%2Flieblingsrezept&amp;name=Zeigen Sie uns Ihr Lieblingsrezept!&amp;caption=%20&amp;description=Unter allen Teilnehmenden verlosen wir 1.000 Euro.&amp;redirect_uri=http%3A%2F%2Fwww.facebook.com%2F"
           class="social-icon facebook"></a>
    </div>
</div>