@import "../_vars.scss";

.social-icons {
  position: relative;

  .icons-holder {
    text-align: center;

    .social-icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-left: 15px;
      background-size: cover;

      opacity: .8;
      &:hover {
        opacity: 1;
      }

      &.facebook {
        background-image: url(../img/social/social_facebook_hover.png);
      }
      &.twitter {
        background-image: url(../img/social/social_twitter_hover.png);
      }
      &.gplus {
        background-image: url(../img/social/social_google_hover.png);
      }
      &.whatsapp {
        display: none;
        background-image: url(../img/social/social_whatsapp_hover.png);
      }
      &.share {
        background-image: url(../img/social/social_share_hover.png);
      }
    }
  }

  @media only screen and (max-width: $mobile) {

    &.social {
      height: 50px;
    }

    .whatsapp {
      display: block !important;
    }

    .icons-holder {
      padding: 15px !important;
    }

    .social-icon {
      width: 20px !important;
      height: 20px !important;
    }
  }

}